@font-face {
  font-family: 'pixelFont';
  font-weight: 400;
  src: url(../../Resource/JF-Dot-K12.ttf);
}

@font-face {
  font-family: 'pixelSilver';
  font-weight: normal;
  src: url(../../Resource/Silver.ttf);
}


@font-face {
  font-family: 'NotoSansCJKtc-Regular';
  font-weight: normal;
  src: url(../../Resource/NotoSansCJKtc-Regular.otf);
}

@font-face {
  font-family: 'NotoSansCJKtc-Medium';
  font-weight: normal;
  src: url(../../Resource/NotoSansCJKtc-Medium.otf);
}

